.logo{
    width: 200px;
}


.btn {
    color: #4a4a4a;
    text-decoration: none;
    border: 1px solid #4a4a4a;
    padding: 8px 75px 8px 75px;
}
.btn2 {
    color: #4a4a4a;
    text-decoration: none;
    border: 1px solid #4a4a4a;
    padding: 8px 16px 8px 16px;
}